<form [formGroup]="form">
	<mat-card>
		<mat-card-title>Log in</mat-card-title>

		<mat-card-actions>
			<mat-form-field appearance="fill">
				<mat-label>Write your review</mat-label>
				<textarea matInput formControlName="review"></textarea>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Select rating out of 5</mat-label>
				<mat-select formControlName="rating">
					<mat-option value="1">1</mat-option>
					<mat-option value="2">2</mat-option>
					<mat-option value="3">3</mat-option>
					<mat-option value="4">4</mat-option>
					<mat-option value="5">5</mat-option>
				</mat-select>
			</mat-form-field>

			<button
				type="submit"
				mat-raised-button
				color="primary"
				[disabled]="form.invalid"
				(click)="onPostReviewClick($event)"
			>
				Post review
			</button>
		</mat-card-actions>
	</mat-card>
</form>
