<form [formGroup]="form">
	<mat-card>
		<mat-card-actions>
			<!-- <mat-form-field appearance="fill"> -->
			<input type="text" matInput formControlName="review" placeholder="Write your review..." />
			<!-- </mat-form-field> -->

			<select formControlName="rating">
				<option value="" disabled selected>Rate the show from 1 to 5</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>

			<button
				type="submit"
				mat-raised-button
				color="primary"
				[disabled]="form.invalid"
				(click)="onPostReviewClick($event)"
			>
				Post review
			</button>
		</mat-card-actions>
	</mat-card>
</form>
