<a href="show-detail/{{ id }}">
	<mat-card>
		<div *ngIf="image_url"><img [src]="image_url" class="show-image" /></div>
		<div *ngIf="!image_url"><img src="assets/images/error.jpg" class="show-image" /></div>
		<mat-card-title>{{ title }}</mat-card-title>
		<div *ngIf="average_rating" class="inline">
			<span class="rating"><img src="../../assets/images/Vector.png" /> {{ average_rating }}/5</span>
		</div>
		<div *ngIf="!average_rating"><span class="rating">Rating not available</span></div>
	</mat-card>
</a>
