p {
    text-align: center;
    margin-top: 20px;
}

.button {
    margin: 0 auto;
    position: relative;
    left: 35%;
    margin-top: 10px;
    margin-bottom: 10px;

    button {
        padding: 10px 40px;
        border-radius: 30px;
    }
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

mat-card-title {
    margin-top: 30px;
}

@media (max-width: 700px) {
}


