<mat-card class="show-card">
	<div *ngIf="show?.imageUrl" class="img-div"><img [src]="show?.imageUrl" class="show-img" /></div>
	<div class="half-div">
		<mat-card-title>{{ show?.title }}</mat-card-title>
		<br />
		<div *ngIf="show?.averageRating">
			<span><img src="../../assets/images/Vector.png" /> {{ show?.averageRating }}/5</span>
		</div>
		<div *ngIf="!show?.averageRating"><span>Rating not available</span></div>
	</div>
	<div class="half-div">
		<p>{{ show?.description }}</p>
	</div>
</mat-card>

<mat-sidenav-container>
	<mat-sidenav mode="side" opened>
		<p>Reviews</p>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="review-form" *ngIf="authService.isLoggedIn()">
			<app-review-form></app-review-form>
		</div>

		<div *ngFor="let review of reviews | async">
			<mat-card class="reviews">
				<div class="photo"><img src="../../../assets/images/error.jpg" /></div>

				<div class="rating">
					<p>email@example.com</p>
					<span class="half-span"> {{ review.rating }}</span>
				</div>

				<div class="text">
					<span class="half-span">{{ review.text }}</span>
				</div>
			</mat-card>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
