<mat-card class="show-card">
	<div *ngIf="show?.image_url" class="img-div"><img [src]="show?.image_url" class="show-img" /></div>
	<div class="half-div">
		<mat-card-title>{{ show?.title }}</mat-card-title>
		<br />
		<div *ngIf="show?.average_rating">
			<span><img src="../../assets/images/Vector.png" /> {{ show?.average_rating }}/5</span>
		</div>
		<div *ngIf="!show?.average_rating"><span>Rating not available</span></div>
	</div>
	<div class="half-div">
		<p>{{ show?.description }}</p>
	</div>
</mat-card>

<mat-sidenav-container>
	<mat-sidenav mode="side" opened>
		<p>Reviews</p>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="review-form" *ngIf="authService.isLoggedIn()">
			<app-review-form [show_id]="show!.id" (reviewsEvent)="refreshReviews($event)"></app-review-form>
		</div>

		<div *ngFor="let review of reviews | async">
			<mat-card class="reviews">
				<div class="photo"><img src="{{ review.user.image_url }}" /></div>

				<div class="rating">
					<p>{{ review.user.email }}</p>
					<span class="half-span"> {{ review.rating }}</span>
				</div>

				<div class="text">
					<span class="half-span">{{ review.comment }}</span>
				</div>
			</mat-card>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
