<mat-card class="details">
	<div *ngIf="show?.imageUrl"><img [src]="show?.imageUrl" /></div>
	<mat-card-title>{{ show?.title }}</mat-card-title>
	<br />
	<p>{{ show?.description }}</p>
	<div *ngIf="show?.averageRating">
		<span>{{ show?.averageRating }}</span>
	</div>
	<div *ngIf="!show?.averageRating"><span>Rating not available</span></div>
</mat-card>

<mat-card-title>Reviews</mat-card-title>
<div *ngFor="let review of show?.reviews">
	<mat-card class="reviews">
		<span>Rating: {{ review.rating }}</span>
		<br />
		<span>Review: {{ review.text }}</span>
	</mat-card>
</div>

<div class="reviews" *ngIf="authService.isLoggedIn()">
	<app-review-form></app-review-form>
</div>
