input {
    display: none;
}

label {
    display: block;
    width: 400px;
    height: 400px;
    border: 1px solid red;
    margin: 30px 0 20px 0;
    background-image: url('/assets/images/upload.png');
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}